.x {
  height: 3.2rem;
  position: absolute;
  width: 3.2rem;
}

.plate {
  height: 3.2rem;
  width: 3.2rem;
}
.burger {
  filter: url(#gooeyness);
  height: 3.2rem;
  position: absolute;
  width: 3.2rem;
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 2px;
}

.plate4 .x {
  transition: transform 400ms;
}
.plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.active.plate4 .line {
  transition: transform 400ms;
}
.active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0);
}
.active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0);
}
.active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0);
}
.active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0);
}
.active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0);
}
.active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0);
}
.active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
